runs
training/data/images
training/runs
training/tennis-ball-detection-6
training/.ipynb_checkpoints
*.pyc
*.txt
*.pth
*.pt
constants/.ipynb_checkpoints
constants/__pycache__
court_line_detector/__pycache__
mini_court/__pycache__
mini_court/.ipynb_checkpoints
*.pkl
trackers/__pycache__
trackers/.ipynb_checkpoints
utils/__pycache__
utils/.ipynb_checkpoints